@use 'root' as *;
@import 'nav';
@import 'footer';

.main-content {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .card-box {
        flex: 1;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .section-title {
        background-color: $blue_lite;
        color: $white;
        padding: .5em 1em;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 1em;
    }
}

.maps-section {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
    background-color: $blue_lite;
    height: 400px;

    iframe {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}