@use 'root' as *;
@import 'nav';
@import 'footer';

.content {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;

    .headline {
        background-color: $blue_lite;
        color: $white;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
    }
}