@use 'root' as *;
@import 'nav';
@import 'footer';

.table_wrapper {
    padding: 1em;

    table {
        width: 100%;

        td {
            text-align: center;
        }
    }
}


h1,
details,
p,
ul,
strong {
    padding: 1em 0 0em 1em;
}

h1,
summary {
    font-size: 20px;
    font-weight: 600;
}

footer {
    margin-top: 2em;
}