@use 'root' as *;

nav {
    background-color: $blue_lite;
    padding: 0 1em;
    z-index: 9999999;

    a {
        color: $white;
        text-decoration: none;
        padding: 1em .5em;
        font-weight: 500;

        &:hover {
            background-color: $blue;
            color: $white !important;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 80px;
            filter: brightness(0) invert(1);
        }

        .top_nav {
            display: flex;
            align-items: center;
            gap: 2em;

            .search_box {
                background-color: $white;
                display: flex;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;

                i {
                    font-size: 24px;
                    padding: .2em .5em;
                    background-color: $white;
                }

                .fa-arrows-spin {
                    opacity: 0;
                }

                &:focus-within {
                    .fa-arrows-spin {
                        opacity: 1;
                        animation: rotate 1s linear infinite;
                    }

                    @keyframes rotate {
                        from {
                            rotate: 0deg;
                        }

                        to {
                            rotate: 360deg;
                        }
                    }
                }

                input {
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .main {
        display: flex;
        gap: 1em;
        background-color: rgba($white, 1);
        margin: 0 10em;
        // padding: 1em;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px 10px 0 0;
        margin-bottom: 0em;
        z-index: 9999;
        align-items: center;

        a {
            color: $blue_lite ;
        }

        .dropdown {
            position: relative;
            display: inline-block;

            &::after {
                content: "\2BC8";
            }

            &:hover {
                &::after {
                    content: "\2BC6";
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                margin-top: 1em;
                background-color: $white;
                min-width: 120px;
                white-space: nowrap;
                box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 999;

                a {
                    color: black;
                    padding: .5em 1em;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: $blue_lite;
                        color: $white;
                    }
                }
            }

            &:hover .dropdown-content {
                display: block;
            }
        }
    }
}


// search box
#suggestions {
    position: absolute;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: $white;
    // max-height: 150px;
    // overflow-y: auto;
    z-index: 999999;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            white-space: nowrap;

            a {
                color: $blue !important;
                text-decoration: none;
                display: block;
                padding: .5em;

                &:hover {
                    background-color: $blue_white;
                    color: $blue !important;
                }
            }
        }
    }
}