.vscode

########### build #######
node
node_modules
*x64
# package.json
*lock.json
#########################
#########################
*.zip
*.exe
#########################
doc
Documents
*.pdf
*.docx
*.txt
*.css
*.css.map

#########################
FAQ.*
*temp*

# Temporary ignored
# main/header_slider/images

# Not ignored
!main/header_slider/assets/index.css

#Connection info that's different for everyone
main/conn.php
