.vscode
# Secret
.env

########### build #######
node
node_modules
vendor
vendor/
*x64
# package.json
*.lock*
*-lock*
#########################
#########################
*.zip
*.exe
*.log
#########################
doc
Documents
*.pdf
*.docx
*.txt
*.css
*.css.map

#########################
FAQ.*
*temp*

# As a Dev-Dependency
TCPDF

# Temporary ignored
# main/header_slider/images

# For security reasons, we cannot upload this to GitHub.
# Please create a conn.php file in the **root** directory
# of the project.
conn.php

#Storage folders and subfolders
Storage/image
Storage/pdf
Storage/video
Storage/json_files
storage/profile/*.*

# Server Dependency
portal/**/*.xlsx


# Not ignored
# Set on the bottom/lower level
!main/header_slider/assets/index.css
!storage/profile/noprofile.*
!storage/profile/default_*.svg

# Do not write anything below this line
#######################################
############# -END OF FILE- ###########
#######################################