;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments
; run `npm help 7 config` for documentation of the various options
;
; Configs like `@scope:registry` map a scope to a given registry url.
;
; Configs like `//<hostname>/:_authToken` are auth that is restricted
; to the registry host specified.

;;;;
; 
;;;;

; _auth=null
; access=null
; all=false
allow-same-version=false
; also=null
; audit=true
; audit-level=null
; auth-type=web
; ca=null
cache=./cache/npm
; cache-min=0
; cafile=null
; call=
; cert=null
; cidr=null
color=true
; commit-hooks=true
; cpu=null
; os=null
depth=null
description=true
; dev=false
; 
engine-strict=true
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-maxtimeout=60000
; fetch-retry-mintimeout=10000
; fetch-timeout=300000
force=false
; foreground-scripts=false
; format-package-lock=true
; fund=true
; git=git
; git-tag-version=true
global=false
; globalconfig=
; global-style=false
; heading=npm
; https-proxy=null
if-present=false
ignore-scripts=false
; 
; lockfile-version=null
loglevel=notice
; logs-dir=null
; logs-max=10
long=true
maxsockets=15
; message=%s
; 
; omit-lockfile-registry-resolved=false
; only=null
; optional=null
; otp=null
; 
package-lock=true
; package-lock-only=false
# production=null
prefer-online=true
progress=true
read-only=false
save=true
save-bundle=false
save-dev=false
; save-exact=false
; save-optional=false
; save-peer=false
save-prefix=^
; save-prod=false
; searchstaleness=900
tag=latest
; tag-version-prefix=v
; timing=false
; umask=0
; unicode=true
update-notifier=true
; yes=null
