#notice_body {
    .notice_board {
        height: 100vh;
        overflow-y: scroll;

        .end {
            text-align: center;
            font-style: italic;
            font-size: 12px;
            color: rgba($blue_lite, .7);

            &::before,
            &::after {
                content: "-";
            }
        }
    }

    .main {
        padding: 1em;
        margin: 1em;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .title {
        font-size: 20px;
        color: $blue_lite;
    }

    .timestamp {
        font-size: 10px;
        margin-bottom: .5em;
        font-style: italic;
        color: rgba($blue_lite, .7);
    }

    img {
        width: 100%;
        margin-top: 1em;
    }

    video {
        width: 100%;
    }

    .pdf_file {
        background-color: rgba($blue_white, 1);
        padding: .5em .2em;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: .5em;

        a {
            color: $blue_lite;
        }

        i {
            font-size: 28px;
            color: $blue_lite;
        }
    }

    .filename {
        margin-top: .3em;
        font-size: 12px;
        font-style: italic;
        color: rgba($blue_lite, 1);
    }

    .null {
        color: red;
        font-size: 12px;
        font-style: italic;
    }
}