@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css";

$white: white;
$blue_white: rgb(223, 234, 255);
$blue_lite: rgb(25, 47, 89);
$blue: rgb(5, 15, 30);


$sidebar-width: 200px;


*:not(pre, code) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

    h2 {
        font-size: 20px;
        text-align: center;
        margin: 1em;
        text-decoration: underline;
    }

    .required {
        &::after {
            content: "*";
            color: red;
            font-weight: 400;
        }
    }

    &::placeholder {
        font-style: italic;
        font-size: 12px;
    }

    .submit {
        color: $white;
        background-color: $blue_lite;
        font-weight: 500;
        padding: .5em 1.5em;
        cursor: pointer;

        &:hover {
            background-color: $blue;
        }
    }
}

#sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    background: $blue_white;
    overflow-y: auto;
    transition: transform .2s linear;

    .logo {
        width: 100%;
        padding: 1em 0;
        text-align: center;
        background: $blue_lite;
        color: $white;
    }

    .menu-item,
    .submenu-item {
        &.active {
            background: $blue !important;
            color: $white !important;
        }

        &:not(.active) {
            &:hover {
                background: rgba($blue_lite, .5) !important;
                color: $white !important;
            }
        }

    }

    .menu-item,
    .menu-drop {
        width: 100%;
        padding: .5em 1em;
        padding-right: 0;
        box-sizing: border-box;
        box-shadow: inset 0 -1px rgba(0, 0, 0, .15);
        cursor: pointer;
        font-weight: 500;

        #submenu {
            display: none;
            margin-top: .5em;
        }

        .submenu-item {
            font-size: 13px;
            background-color: rgba(255, 255, 255, 0.252);
        }
    }

    .menu-drop {
        i {
            margin-right: .5em;
            float: right;
        }
    }
}

main,
nav,
header {
    margin-left: $sidebar-width;
    padding: .5em 1em;
    transition: margin-left .2s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);

    .logout-button {
        text-align: center;
        background-color: $blue_lite;
        color: $white;
        padding: .5em 1em;
        cursor: pointer;
        font-weight: 600;
        border-radius: 5px;
        transition: background-color .1s linear;

        &:hover {
            background-color: $white;
            color: black;
            border: 1px solid $blue_lite;
        }
    }
}


#sidebar-toggle {
    cursor: pointer;
    position: fixed;
    color: $blue_lite;
    top: 50%;
    left: $sidebar-width;
    opacity: .5;
    font-size: 24px;
    transition: all .2s linear;
    z-index: 999;

    &::before {
        content: "\f7a5";
    }

    &:hover {
        rotate: 90deg;
        opacity: 1;

        &::before {
            content: "\f078";
        }
    }
}

.hidden {
    transition: transform .2s linear;
    transform: translateX(-$sidebar-width);
}

body:has(.hidden) {

    main,
    nav,
    header {
        margin-left: 0 !important;
    }

    #sidebar-toggle {
        left: .2em !important;

        &:hover {
            rotate: -90deg;
        }
    }
}