@use 'root' as *;

.search_form {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 1em;
    border: 1px solid $blue_white;
    width: max-content;
    overflow: hidden;

    .fa-arrows-spin {
        opacity: 0;
        font-size: 24px;
    }

    &:focus-within {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        .fa-arrows-spin {
            opacity: 1;
            animation: rotate 1s linear infinite;
            margin: 0 .3em;
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }

            to {
                rotate: 360deg;
            }
        }

        i:not(.fa-arrows-spin) {
            color: $white;
            background-color: $blue_lite;
        }
    }

    i:not(.fa-arrows-spin) {
        font-size: 28px;
        text-align: center;
        color: $blue_lite;
        padding: .2em .5em;
        background-color: $blue_white;
    }

    #search {
        padding: .3em .5em;
        border: none;
        outline: none;
    }
}

#tableContent {
    .search_result {
        width: max-content;
        margin-left: 1em;

        div {
            margin: .5em 0;
            display: flex;
            gap: 2em;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px dashed $blue_lite;

            p {
                font-style: italic;
            }

            strong {
                margin-right: .5em;

                &::after {
                    content: ": ";
                }
            }
        }
    }
}